/* color variables */
:root {
  --main-background: #ffffff;
  --header-logo: #ffffff;
  --header-links: #ffffff;
  --header-links-hover: #276166;
  --main-text-color: #000000;
  --accent: #38c087;
  --text-input-area: #efefef;
  --dropdown-text: #ffffff;
  --dark-mode-slider: #ccc;
  --links-hover: #276166;
}

[data-theme="dark"] {
  --main-background: #212423;
  --header-logo: #ffffff;
  --header-links: #ffffff;
  --header-links-hover: #0e1311;
  --main-text-color: #ffffff;
  --accent: #27c498;
  --text-input-area: #0e1311;
  --dropdown-text: #ffffff;
  --dark-mode-slider: #0e1311;
  --links-hover: #276166;
}

/* styling body */

body {
  background-color: var(--main-background);
  font-family: arial;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 70px;
}
  
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--accent);
  height: 62px;
  width: 100%;
  overflow: hidden;
}

#header-logo {
  float: left;
  padding: 18px 16px;
  font-size: 23px;
  margin-left: 30px;
  color: var(--header-logo)
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  float: left;
  padding: 18px 16px;
  font-size: 30px;
  margin-left: 20px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--dark-mode-slider);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  /* transition: .4s; */
  width: 26px;
}

input:checked + .slider {
  background-color: var(--dark-mode-slider);
}

input:checked + .slider:before {
  /* transform: translateX(26px); */
  left: 30px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-label {
  margin-left: 7px;
  color: var(--header-links)
}

/* header menu */
navbar{
  float: right;
  text-align: center;
  padding: 20px 16px;
}

navbar a {
  color: var(--header-links);
  text-decoration: none;
  height: 100%;
  margin-right: 25px;
  font-size: 15px;
}

navbar a:hover {
  color: var(--header-links-hover);
}

.mobile-menu {
  display: none;
}

/* main */
main {
  margin-top: 65px;
  color: var(--main-text-color);
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: var(--accent);
}

#project-title {
  margin-top: 70px;
}

/*Choose language */

.language-selection {
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dropdown {
  color: var(--dropdown-text);
  background-color: var(--accent);
  height: 25px;
  width: 150px;
}


/* transcribing section */

#paste-or-type-text {
  font-size: 14px;
  padding-bottom: 10px;
}

.input-text {
  width: 100%;
  height: 170px;
  background-color: var(--text-input-area);
  color: var(--main-text-color)
}

#characters-count {
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

.do-button {
  color: var(--header-links);
  font-size: 15px;
  padding: 13px 50px;
  background-color: var(--accent);
  border: none;
}

.in-text-button {
  padding: 4px 4px;
  color: var(--header-links);
  background-color: var(--accent);
  border: none;
}

.text-section {
  font-size: 13px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 17px;
}

.section-text {
  line-height: 1.3;
  text-align: justify;
}

#output-text {
  padding: 10px;
}

/* donate */

#patreon {
    font-size: 20px;
    text-align: center;
}
  
#paypal {
    font-size: 20px;
    text-align: center;
  }

#page-title {
  margin-top: 100px;
}

.our-photos {
  width: 24%;
}

.collapsible {
  background-color: #127780;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #0c4d53;
}

.content {
  padding: 0 18px;
  color: white;
  display: none;
  overflow: hidden;
  background-color: #18a1ad;
}

#please-donate {
  font-size: 16px;
}

.credits li {
  line-height: 2;
}

a {
  color: var(--accent)
}

a:hover {
  color: var(--links-hover)
}

/* For mobile - adjust later */

@media only screen and (max-device-width: 480px) {
  body {
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 20px;
  }
    
  /* header */
  header {
    position: fixed;;
    height: 30px;
    width: 100%;
    overflow: hidden;
  }
  
  #header-logo {
    padding: 18px 16px;
    font-size: 23px;
    margin-left: 30px;
  }
  
  
  /*Simple css to style it like a toggle switch*/
  .theme-switch-wrapper {
    padding: 5px 4px;
    font-size: 15px;
    margin-left: 2px;
  }
  .theme-switch {
    height: 20px;
    width: 35px;
  }
  
  .slider:before {
    bottom: 0px;
    height: 20px;
    left: 0px;
    width: 20px;
  }
  
  input:checked + .slider:before {
    transform: translateX(15px);
  }
  
  /* header menu */
  navbar{
    float: right;
    text-align: center;
    padding: 0px 1px;
  }
  
  navbar a {
    color: var(--header-links);
    text-decoration: none;
    height: 100%;
    margin-right: 25px;
    font-size: 15px;
  }
  
  navbar a:hover {
    color: var(--header-links-hover);
  }

  .mobile-menu {
    display: block;
    
  }
  
  /* main */
  main {
    margin-top: 65px;
    color: var(--main-text-color);
  }
  
  .title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: var(--accent);
  }
  
  #project-title {
    margin-top: 70px;
  }

  
}